/* Ensure parent container has relative positioning */
.menu-main-menu-container > #menu-main-menu > li {
  position: relative;
}

/* Position the sub-menu absolutely */
.menu-main-menu-container > #menu-main-menu > li > .mega-menu {
  position: absolute;
  top: 100%; /* Position it directly below the top-level item */
  left: 0;
  right: auto;
  opacity: 0;
}

/* When aria-expanded is true, show the sub-menu */
a[aria-expanded='true'] + div.mega-menu {
  opacity: 1 !important;
  visibility: visible;
  display: block; /* Make it visible */
}

/* When submenu is not showing, set pointer-events to none on all elements within the mega-menu */
a[aria-expanded='false'] + .mega-menu {
  pointer-events: none;
}
