/* -- SKIP NAV LINK STYLES -- */
.skip-nav-link {
  position: absolute;
  z-index: 10;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: transform 0.3s;
  font-size: 12px;
  padding: 0.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  text-decoration: none;
}

.skip-nav-link:focus {
  top: 0;
  transform: translate(-50%, 0);
}

/* navigation base styles and functionality */
nav ul,
nav ul li {
  margin: 0 0 0 0;
}

nav ul,
nav ul > li,
nav ul > li ul > li,
nav ul > li ul > li ul > li,
nav ul > li ul > li ul > li ul > li {
  list-style-type: none;
}

#menu-main-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
  height: 98px;
}

#menu-main-menu > li {
  height: 98px;
  display: flex;
  align-items: center;
}

#menu-main-menu > li:not(.hidden-links) {
  white-space: nowrap;
}

/* https://codepen.io/scottb/pen/gixIv */
ul#menu-main-menu li > ul {
  opacity: 0;
  /* position: absolute; */
  top: 100%;
  background: #fff;
  padding: 0;
}

a[aria-expanded='true'] + ul.sub-menu {
  /* Add your desired styles here */
  opacity: 1 !important;
  display: block; /* Example: Make the submenu visible */
}

/* position sub-menu under moreSubMenu to relative in order to display */
#moreSubMenu a[aria-expanded='true'] + ul.sub-menu {
  position: relative;
  display: block;
  opacity: 1;
}

a[aria-expanded='false'] + ul.sub-menu {
  opacity: 0;
  display: none; /* Example: Hide the submenu */
}

/* initially hide sub menus */
ul#menu-main-menu li > ul > li > ul {
  opacity: 1;
  display: none;
}

/* displays sub menus when anchor has the active class */
ul#menu-main-menu li > ul > li > a.active > ul {
  opacity: 1;
  display: block;
}

#menu .menu-item-has-children.active > .sub-menu {
  display: block; /* Show the sub-menu */
}

ul#menu-main-menu li > ul > li > a.active > ul {
  display: block !important;
}

body.has-hover
  ul#menu-main-menu
  li.menu-item-has-children:hover
  > ul
  ul.sub-menu,
ul#menu-main-menu li.menu-item-has-children > a.active > ul ul.sub-menu {
  position: relative;
}

.sub-menu > li {
  display: block;
  position: relative;
}

ul#menu-main-menu li > ul > li a {
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
  max-width: 100%;
  white-space: normal;
}

ul#menu-main-menu li.menu-item-has-children > a {
  padding: 0 1rem;
}

ul#menu-main-menu li.menu-item-has-children > a.class::after {
  top: calc(50% - 0.4rem);
  transform: rotate(225deg) translate(-25%, -25%);
}

/* header and main menu bar styles */
header {
  position: fixed;
  width: 100%;
  border-bottom: 0.15rem solid transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

/* Make sure the LI (parent) is positioned relatively */
header nav ul.menu > li.menu-item-has-children {
  position: relative;
}

/* Make sure the submenu is positioned absolutely */
header nav ul.menu > li.menu-item-has-children > .mega-menu {
  top: 100%; /* right below the top-level menu item */
  left: 0;
}

#mainNavigation {
  position: relative;
  height: 98px;
  background-color: #60bd68;
}

#branding {
  width: 11rem;
  height: 6rem;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

#siteIdentity {
  padding: 0;
  max-width: 100%;
  margin-right: 0;
  background-color: #fff;
}

#siteIdentity a {
  font-weight: bold;
  text-decoration: none;
}

#siteIdentity a:hover,
#siteIdentity a:focus {
  text-decoration: underline;
}

@media (min-width: 27rem) {
  .logo {
    display: block;
  }
  .simple-logo {
    display: none;
  }
}
@media (max-width: 27rem) {
  .logo {
    display: none;
  }
  .simple-logo {
    display: block;
  }

  #branding {
    width: 30%;
  }
}

#siteIdentity a {
  display: block;
}

/* main navigation */

nav {
  width: calc(100% - 15rem);
  float: right;
}

@media (max-width: 32em) {
  nav {
    width: 50%;
  }
}

/* Admin & Profile Menu - Sub Menu Container */
#adminMenu,
#profileMenu {
  position: relative;
}

#adminMenu > .sub-menu,
#profileMenu > .sub-menu {
  position: absolute;
  top: 100%; /* Position the sub-menu below the profile link */
  left: 0;
  background-color: #fff; /* Match your design background */
  display: none; /* Hidden by default */
  border: 1px solid #ccc; /* Optional: for visibility */
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional: for visibility */
  z-index: 1000; /* Ensure it's on top of other elements */
}

/* Show sub-menu when parent is expanded */
#adminMenu[aria-expanded='true'] > .sub-menu,
#profileMenu[aria-expanded='true'] > .sub-menu {
  display: block;
}

/* Additional styles for the sub-menu links */
#adminMenu .sub-menu li,
#profileMenu .sub-menu li {
  padding: 0.5rem 1rem;
}

#adminMenu .sub-menu li a,
#profileMenu .sub-menu li a {
  display: block;
  text-decoration: none;
  color: #333; /* Change color as needed */
}

/* Profile menu icon when open */
#profileMenu[aria-expanded='true'] a .caret {
  /*transform: rotate(180deg);*/ /* Rotate the caret icon */
}

.hidden-text {
  position: absolute;
  left: -9999px;
}

/* Initial state of the submenu (hidden or collapsed) */
#moreSubMenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

#menuMoreLink.active + #moreSubMenu:hover {
  opacity: 1;
}

/* When the link is hovered and active, reveal the submenu */
#menuMoreLink.active:hover + #moreSubMenu,
#menuMoreLink.active + #moreSubMenu:hover {
  opacity: 1;
}

body.has-hover ul#menu-main-menu .hover:hover > ul ul.sub-menu,
ul#menu-main-menu li.menu-item-has-children > a.active > ul ul.sub-menu {
  position: relative;
}

.sub-menu > li {
  display: block;
  position: relative;
}

ul#menu-main-menu li.menu-item-has-children > a.active::after {
  top: calc(50% - 0.4rem);
  transform: rotate(225deg) translate(-25%, -25%);
}

ul#menu-main-menu li.menu-item-has-children li.menu-item-has-children::after {
  top: 1.35rem;
}

ul#menu-main-menu
  li.menu-item-has-children
  li.menu-item-has-children
  > a.active::after {
  top: 1.25rem;
}

/* link styles */

#menu-main-menu > li > a {
  display: flex;
  align-items: center;
  height: 100%;
  text-transform: capitalize;
  text-decoration: none;
}

@media (max-width: 27em) {
  .menu-main-menu-container > #menu-main-menu > li > a {
    padding: 1.5rem 1.25rem;
  }
}

.menu-main-menu-container > #menu-main-menu > li > .sub-menu a {
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
}

.menu-main-menu-container
  > #menu-main-menu
  > li
  > .sub-menu
  > li.menu-item-has-children
  > a {
  padding: 1rem 0 1rem 1.5rem;
  width: 100%;
}

.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:focus {
  text-decoration: underline;
}

ul#menu-main-menu li.menu-item-has-children > a::after,
ul#menu-main-menu li.menu-item-has-children > a.active > a::after {
  display: none;
}

#menu-main-menu > li.menu-item-has-children > ul.sub-menu {
  right: 0.25rem;
  /* top: 5rem; */
  top: 5.4rem;
  /* min-width: 20rem; */
  box-shadow: 0 0 0.2rem 0 rgba(50, 50, 50, 0.75);
  overflow-y: auto;
  max-height: 90vh;
}

#adminMenu > .sub-menu,
#profileMenu > .sub-menu {
  min-width: 15rem;
}

ul.sub-menu li > ul.sub-menu {
  top: 0;
  box-shadow: none;
  font-weight: 400;
  padding-left: 0.75rem;
}

.menu-main-menu-container > #menu-main-menu > li li {
  margin-left: 0;
}

.menu-main-menu-container > #menu-main-menu > li li > .sub-menu a {
  font-weight: 400;
  padding-top: 0.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
}

.menu-main-menu-container > #menu-main-menu > li li > .sub-menu a {
  /* padding top and bottom are needed to prevent overflow of focus the border */
  padding: 0.74rem 0 0.63rem 2rem;
}

.menu-main-menu-container > #menu-main-menu > li li li > .sub-menu a {
  /* padding top and bottom are needed to prevent overflow of focus the border 
     when under the "More" menu item */
  padding: 0.74rem 0 0.63rem 2.5rem;
}

.menu-main-menu-container > #menu-main-menu > li li li li > .sub-menu a {
  padding-left: 3rem;
}

.menu-main-menu-container > #menu-main-menu > li .sub-menu a:hover,
.menu-main-menu-container > #menu-main-menu > li .sub-menu a:focus {
  text-decoration: none;
}

/* Basic CSS for breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 6.5em 0 0 2em;
}
.breadcrumbs li {
  margin-right: 5px;
}
.breadcrumbs li a {
  text-decoration: none;
  color: blue;
}

.breadcrumbs li::after {
  content: '';
}

.breadcrumbs li::after {
  content: attr(data-symbol);
  margin-left: 5px;
}

.breadcrumbs li span {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}
