.sidebar-container {
  position: fixed;
  top: 87px;
  right: -250px; /* Start hidden */
  height: calc(100vh - 82px);
  width: 250px;
  background-color: #444;
  color: white;
  padding: 20px;
  z-index: 100;
  transition: right 0.3s ease; /* Make sure transition is applied here */
}

.sidebar-container.open {
  right: 0px;
}

.sidebar {
  width: 100%;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.toggle-btn {
  position: fixed;
  top: 110px;
  right: 0px; /*Positioned to the right of the sidebar when collapsed*/
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 200; /* Ensure it's above everything else */
  transition: right 0.3s ease; /* Smooth transition */
}

.toggle-btn:hover {
  background-color: #555;
}

.toggle-btn.open {
  right: 250px;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.hamburger div {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.hamburger.active div:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
