/* CSS reset - http://meyerweb.com/eric/tools/css/reset/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  min-height: 100vh;
}

body {
  -webkit-text-size-adjust: 100%;
}

ol,
ul {
  list-style: none;
}

header,
nav,
section {
  display: block;
}

/* base classes */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/* basic styles */
body,
p,
ul,
ol,
li,
button,
input[type='reset'],
input[type='button'],
input[type='submit'] {
  font-size: 1rem;
}

nav li,
nav li li,
nav li li li,
nav li li li li,
nav li li li li li,
nav li li li li li li {
  margin-left: 0;
}

/* basic styles */
/* https://css-tricks.com/snippets/css/clear-fix/ */
.group:after {
  content: '';
  display: table;
  clear: both;
}

.max-width {
  width: 93.75rem;
  max-width: 90%;
  margin: 0 auto;
}

/* navigation base styles and functionality */
nav ul,
nav ul li {
  margin: 0 0 0 0;
}

nav ul,
nav ul > li,
nav ul > li ul > li,
nav ul > li ul > li ul > li,
nav ul > li ul > li ul > li ul > li {
  list-style-type: none;
}

#menu-main-menu {
  flex: 1 1 85%;
  display: flex;
  align-items: center;
}

#menu-main-menu > li {
  position: relative;
  text-align: center;
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  width: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 1.75rem 0;
}

#menu-main-menu > li:not(.hidden-links),
.menu-main-menu-container button {
  white-space: nowrap;
}

/* https://codepen.io/scottb/pen/gixIv */
ul#menu-main-menu li > ul {
  display: none;
  position: absolute;
  top: 100%;
  background: #fff;
  padding: 0;
}

ul#menu-main-menu li.menu-item-has-children:not(.visible) > ul {
  display: none;
}

body.has-hover ul#menu-main-menu li.menu-item-has-children:hover > ul,
ul#menu-main-menu li.menu-item-has-children.visible > ul {
  /* display: block; */
}

body.has-hover
  ul#menu-main-menu
  li.menu-item-has-children:hover
  > ul
  ul.sub-menu,
ul#menu-main-menu li.menu-item-has-children.visible > ul ul.sub-menu {
  position: relative;
}

.sub-menu > li {
  display: block;
  position: relative;
}

ul#menu-main-menu li > ul > li a {
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
  max-width: 100%;
  white-space: normal;
}

ul#menu-main-menu li.menu-item-has-children > a {
  padding-right: 1.75rem;
}

ul#menuu-main-menu li.menu-item-has-children::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  right: 0.5rem;
  top: calc(50% - 0.25rem);
  border-style: solid;
  border-width: 0 0.15rem 0.15rem 0;
  -webkit-transform: rotate(45deg) translate(-25%, -25%);
  -ms-transform: rotate(45deg) translate(-25%, -25%);
  transform: rotate(45deg) translate(-25%, -25%);
}

ul#menu-main-menu li.menu-item-has-children.visible::after {
  top: calc(50% - 0.4rem);
  -webkit-transform: rotate(225deg) translate(-25%, -25%);
  -ms-transform: rotate(225deg) translate(-25%, -25%);
  transform: rotate(225deg) translate(-25%, -25%);
}

/* header and main menu bar styles */
header {
  border-bottom: 0.15rem solid #555;
}

#mainNavigation {
  position: relative;
  z-index: 99;
}

#branding {
  width: 15rem;
  float: left;
  padding: 0.75rem 0 0.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: start;
  flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#siteIdentity {
  padding: 1rem 1rem;
  width: 12.5rem;
  max-width: 100%;
  margin-right: 2.5rem;
  text-align: center;
}

#siteIdentity a {
  font-weight: bold;
  text-decoration: none;
}

#siteIdentity a:hover,
#siteIdentity a:focus {
  text-decoration: underline;
}

@media (max-width: 32em) {
  #branding {
    width: 50%;
  }
}

#siteIdentity a {
  display: block;
}

/* main navigation */

nav {
  width: calc(100% - 15rem);
  float: right;
}

@media (max-width: 32em) {
  nav {
    width: 50%;
  }
}

@media (max-width: 27em) {
  nav {
    padding: 1.75rem 0 1.5rem;
  }
}

#menu-main-menu {
  -ms-flex-pack: end;
  flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
}

/* function */
/* https://codepen.io/scottb/pen/gixIv */
ul#menu-main-menu li > ul {
  display: none;
  position: absolute;
  top: 100%;
  background: #fff;
  padding: 0;
}

ul#menu-main-menu li.menu-item-has-children:not(.visible) > ul,
ul#menu-main-menu li.menu-item-has-children:not(.visible) > div {
  display: none;
}

body.has-hover ul#menu-main-menu li.menu-item-has-children:hover > ul,
ul#menu-main-menu li.menu-item-has-children.visible > ul {
  /* display: block; */
}

ul#menu-main-menu li.menu-item-has-children.visible > ul {
  display: block;
}

/****  This is the style to open sub-menu on hover under the More Menu ... ***/
/* Is it efficient for the user though? */
body.has-hover
  ul#menu-main-menu
  li.menu-item-has-children:hover
  > ul
  > li.menu-item-has-children:hover
  .sub-menu-div {
  /* display: block; */
}
/****  ...This is the style to open sub-menu on hover under the More Menu  ***/

body.has-hover ul#menu-main-menu .hover:hover > .sub-menu-div {
  /* display: flex;
  position: absolute;
  top: 3.375rem;*/
}

body.has-hover ul#menu-main-menu .hover:hover > ul ul.sub-menu,
ul#menu-main-menu li.menu-item-has-children.visible > ul ul.sub-menu {
  position: relative;
}

.sub-menu > li {
  display: block;
  position: relative;
}

ul#menu-main-menu li > ul > li a,
ul#menu-main-menu li > .sub-menu-div > a {
  text-decoration: none;
  padding: 0.5em 1em;
  display: block;
  max-width: 100%;
  white-space: normal;
}

ul#menu-main-menu li.menu-item-has-children > a {
  padding-right: 1.75rem;
}

ul#menuu-main-menu li.menu-item-has-children::after {
  content: ' ';
  display: block;
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  right: 1rem;
  top: calc(50% - 0.25rem);
  border-style: solid;
  border-width: 0 0.15rem 0.15rem 0;
  -webkit-transform: rotate(45deg) translate(-25%, -25%);
  -ms-transform: rotate(45deg) translate(-25%, -25%);
  transform: rotate(45deg) translate(-25%, -25%);
}

ul#menu-main-menu li.menu-item-has-children.visible::after {
  top: calc(50% - 0.4rem);
  -webkit-transform: rotate(225deg) translate(-25%, -25%);
  -ms-transform: rotate(225deg) translate(-25%, -25%);
  transform: rotate(225deg) translate(-25%, -25%);
}

ul#menu-main-menu li.menu-item-has-children li.menu-item-has-children::after {
  top: 1.35rem;
}

ul#menu-main-menu
  li.menu-item-has-children
  li.menu-item-has-children.visible::after {
  top: 1.25rem;
}

/* link styles */

#menu-main-menu > li > a {
  text-transform: uppercase;
}

.menu-main-menu-container > #menu-main-menu > li > a,
.menu-main-menu-container > #menu-main-menu > li > button {
  padding: 2rem 1.25rem;
}

@media (max-width: 27em) {
  .menu-main-menu-container > #menu-main-menu > li > a,
  .menu-main-menu-container > #menu-main-menu > li > button {
    padding: 1.5rem 1.25rem;
  }
}

.menu-main-menu-container > #menu-main-menu > li.menu-item-has-children {
  padding-right: 2.25rem;
}

.menu-main-menu-container > #menu-main-menu > li.menu-item-has-children > a,
.menu-main-menu-container
  > #menu-main-menu
  > li.menu-item-has-children
  > button {
  padding-right: 0;
}

.menu-main-menu-container > #menu-main-menu > li > .sub-menu a,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a {
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;
  /* the style below may not be needed any more after completing the mega-menu */
  padding: 1rem 1.5rem;
  display: block !important;
}

.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a {
  padding: 1rem 0;
}

.menu-main-menu-container
  > #menu-main-menu
  > li
  > .sub-menu
  > li.menu-item-has-children
  > a {
  padding: 1rem 0 1rem 1.5rem;
  width: 100%;
}

.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:focus {
  text-decoration: underline;
}

ul#menu-main-menu li.menu-item-has-children > a::after,
ul#menu-main-menu li.menu-item-has-children.visible > a::after {
  display: none;
}

#menu-main-menu > li.menu-item-has-children > ul.sub-menu {
  right: 0.25rem;
  top: 5rem;
  min-width: 20rem;
  -webkit-box-shadow: 0 0 0.2rem 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0 0 0.2rem 0 rgba(50, 50, 50, 0.75);
  box-shadow: 0 0 0.2rem 0 rgba(50, 50, 50, 0.75);
  overflow-y: auto;
  max-height: 90vh;
}

@media (max-width: 27em) {
  #menu-main-menu > li.menu-item-has-children > ul.sub-menu {
    min-width: 18rem;
  }
}

@media (max-width: 20em) {
  #menu-main-menu > li.menu-item-has-children > ul.sub-menu {
    min-width: 100%;
  }
}

ul.sub-menu li > ul.sub-menu {
  top: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-weight: 400;
  padding-left: 0.75rem;
}

.menu-main-menu-container > #menu-main-menu > li li,
.menu-main-menu-container > #menu-main-menu > li li li,
.menu-main-menu-container > #menu-main-menu > li li li li {
  margin-left: 0;
}

.menu-main-menu-container > #menu-main-menu > li li > .sub-menu a,
.menu-main-menu-container > #menu-main-menu > li li li > .sub-menu a,
.menu-main-menu-container > #menu-main-menu > li li li li > .sub-menu a,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu .sub-menu-div a {
  font-weight: 400;
  padding-top: 0.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
}

.menu-main-menu-container
  > #menu-main-menu
  > li
  > .sub-menu
  .sub-menu-div
  .title {
  text-align: left;
  margin-top: 1em;
  margin-left: 1.5em;
}

.menu-main-menu-container > #menu-main-menu > li li > .sub-menu a {
  padding-left: 2rem;
}

.menu-main-menu-container > #menu-main-menu > li li li > .sub-menu a {
  padding-left: 2.5rem;
}

.menu-main-menu-container > #menu-main-menu > li li li li > .sub-menu a {
  padding-left: 3rem;
}

.menu-main-menu-container > #menu-main-menu > li .sub-menu a:hover,
.menu-main-menu-container > #menu-main-menu > li .sub-menu a:focus {
  text-decoration: none;
}

.menu-main-menu-container > #menu-main-menu > li > ul.sub-menu::before {
  content: '';
  position: absolute;
  right: 0.35rem;
  top: -0.75rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.75rem 0.75rem 0.75rem;
  z-index: 9999;
}

.menu-main-menu-container > #menu-main-menu > li > ul.sub-menu:after {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background: rgba(50, 50, 50, 0.75);
  transform: rotate(45deg);
  right: 0.85rem;
  top: -0.6rem;
  box-shadow: 0.25rem 0.25rem 0.25rem 0.25rem rgba(50, 50, 50, 0.75);
  z-index: -1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/* Styles from Mega menu */
header nav ul.menu > li.menu-item-has-children > .sub-menu-div {
  position: absolute;
  box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
  text-align: left;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  margin-top: 1.563rem;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  max-height: 85vh;
}

header nav ul.menu > li.menu-item-has-children:hover .sub-menu-div,
header nav ul.menu > li.menu-item-has-children.visible .sub-menu-div {
  visibility: visible;
  opacity: 1;
}

header nav ul.menu > li > .sub-menu-div > ul li {
  line-height: 1;
}

header nav ul.menu > li > .sub-menu-div > ul li a {
  display: block;
  padding: 0.625rem 0;
  font-size: 1.563rem;
  padding-left: 1.5rem;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  text-decoration: none;
}

header nav ul.menu > li > .mega-menu > .list-item > ul > li {
  line-height: 1;
  display: block;
}
header nav ul.menu > li > .mega-menu > .list-item > ul > li > a {
  text-decoration: none;
  font-size: 0.938rem;
  display: block;
  transition: color 0.3s ease;
  padding: 0.313rem 0;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}

header nav ul.menu > li > .mega-menu {
  top: 50;
  right: 50%;
  transform: translateX(25%);
  -webkit-transform: translateX(25%);
  -moz-transform: translateX(25%);
  -ms-transform: translateX(25%);
  -o-transform: translateX(25%);
  -webkit-transform: translateX(25%);
}

header nav ul.menu > li > .mega-menu.mega-menu-column-4 {
  max-width: 68rem;
  width: 55rem;
  /* width: 100%; */
  /* overflow-wrap: normal; */
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem 0;
}

header nav ul.menu > li > .mega-menu.mega-menu-column-4 > .list-item {
  flex: 0 0 25%;
  flex-grow: 0;
  padding: 0 0.938rem;
}

header nav ul.menu > li > .mega-menu.mega-menu-column-4 > .list-item .title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.625rem 0;
}

header nav ul.menu > li > .mega-menu.mega-menu-column-4 > .list-item img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
}

main {
  /* display: flex; */
  /* flex-direction: column; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  /* height: 25vh; */
  text-align: center;
  margin: auto;
  margin-top: 2em;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1.3em;
}

h2 {
  font-size: 1.4em;
  font-weight: bold;
}

.login-form {
  padding: 1.25rem;
  border-radius: 0.313rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 18.75rem;
  max-width: 80%;
}

.login-form label {
  text-align: left;
}

.login-form input[type='text'],
.login-form input[type='password'] {
  width: 100%;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}
.login-form input[type='submit'] {
  width: 100%;
  padding: 0.625rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 27em) {
  .login-form {
    width: 100%;
  }
}

.user-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  max-width: 20em;
  text-align: center;
}

#currentUser {
  font-weight: bold;
  text-transform: capitalize;
}

@media (max-width: 20em) {
  .user-type {
    width: 80vw;
    max-width: 40em;
  }
}
