:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #000;

  --skipNavBgColour: #60bd68;
  --skipNavTextColour: #000;

  --headingOneTextColour: #60bd68;
  --headingTwoTextColour: #1fb7f1;

  --topMenuBgColour: #1fb7f1;
  --topMenuTextColour: #0a2939;
  --topMenuTextColourActiveFocus: #000;

  --firstSubLevelBgColour: rgba(127, 213, 247, 0.9);
  --firstSubLevelTextColour: #0a2939;
  --firstSubLevelTextColourActiveFocus: #0a2939;

  --secondSubLevelBgColour: #4fc7f4;
  --secondSubLevelTextColour: #0a2939;

  --thirdSubLevelBgColour: #337ab7;
  --thirdSubLevelTextColour: #fff;

  --fourthSubLevelBgColour: #1fb7f1;
  --fourthSubLevelTextColour: #0a2939;

  --bgColourHoverActiveFocus: #60bd68;
  --textColourHoverActiveFocus: #0a2939;

  --bgColourHoverActiveFocusAlt: #60bd68;
  --textColourHoverActiveFocusAlt: #0a2939;

  --bottomBorderColour: #337ab7;

  --bodyBackgroundColour: #fff;

  --bodyReportIconStrokeColour: #60bd68;
  --bodyReportIconFillColour: #60bd68;

  --bodyDataInputIconStrokeColour: #337ab7;
  --bodyDataInputIconFillColour: #337ab7;

  --bodyFileIconStrokeColour: #4fc7f4;
  --bodyFileIconFillColour: #4fc7f4;

  --titleBannerBgColour: #60bd68;
  --titleBannerColour: #0a2939;

  --subTitleColour: #3f883f;

  --menuListTextColour: #000;
  --menuListTextColourActiveFocus: #000;

}
