:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #000;

  --skipNavBgColour: #f5fff5;
  --skipNavTextColour: #000;
  --skipNavBorderColour: #60bd68;

  --topMenuBgColour: #fff;
  --topMenuTextColour: #0f172a;
  --topMenuHoverTextColour: #0f172a;

  --menuBorderColour: #60bd68;
  --menuHoverBgColour: #f5fff5;
  --menuTransparentColour: rgba(96, 189, 104, 0.5);

  --subMenuBgColour: var(--menuHoverBgColour);
  --subMenuTextColour: var(--topMenuTextColour);

  --arrowFillColour: var(--menuHoverBgColour);
  --arrowStrokeColour: var(--topMenuHoverTextColour);

  --bodyBackgroundColour: #c1c1c1;

  --headingOneTextColour: #1d6b2a;
  --headingTwoTextColour: #004471;

  --bottomBorderColour: transparent;
}
