:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #2d3043;

  --skipNavBgColour: #a15229;
  --skipNavTextColour: #fff;
  --skipNavBorderColour: #000;

  --topMenuBgColour: #f4d4ad;
  --topMenuTextColour: #2d3043;
  --topMenuHoverTextColour: #fff;

  --menuBorderColour: #000;
  --menuHoverBgColour: #a15229;
  --menuTransparentColour: rgba(0, 0, 0, 0.5);

  --subMenuBgColour: var(--menuHoverBgColour);
  --subMenuTextColour: var(--topMenuHoverTextColour);

  --arrowFillColour: var(--menuHoverBgColour);
  --arrowStrokeColour: var(--topMenuHoverTextColour);

  --bodyBackgroundColour: #c1c1c1;

  --headingOneTextColour: #2d3142;
  --headingTwoTextColour: #004471;

  --bottomBorderColour: var(--menuBorderColour);
}
