:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #2d3043;

  --skipNavBgColour: #a15229;
  --skipNavTextColour: #fff;

  --headingOneTextColour: #2d3043;
  --headingTwoTextColour: #cc6a3d;

  --topMenuBgColour: #f4d4ad;
  --topMenuTextColour: #2d3043;
  --topMenuTextColourActiveFocus: #fff;

  --firstSubLevelBgColour: rgba(232, 157, 66, 0.9);
  --firstSubLevelTextColour: #333;
  --firstSubLevelTextColourActiveFocus: #fff;

  --secondSubLevelBgColour: #2f88dc;
  --secondSubLevelTextColour: #1e1e1e;

  --thirdSubLevelBgColour: #f4d4ad;
  --thirdSubLevelTextColour: #2d3043;

  --fourthSubLevelBgColour: #2d3043;
  --fourthSubLevelTextColour: #fff;

  --bgColourHoverActiveFocus: #a15229;
  --textColourHoverActiveFocus: #fff;

  --bgColourHoverActiveFocusAlt: #a15229;
  --textColourHoverActiveFocusAlt: #fff;

  --bottomBorderColour: #a15229;

  --bodyBackgroundColour: #fff;

  --bodyReportIconStrokeColour: #a15229;
  --bodyReportIconFillColour: #a15229;

  --bodyDataInputIconStrokeColour: #2f88dc;
  --bodyDataInputIconFillColour: #2f88dc;

  --bodyFileIconStrokeColour: #2d3043;
  --bodyFileIconFillColour: #2d3043;

  --titleBannerBgColour: #a15229;
  --titleBannerColour: #fff;

  --subTitleColour: #a15229;

  --menuListTextColour: #000;
  --menuListTextColourActiveFocus: #000;

  --mobileTabsPanelsActiveFocus: #fff;
}
