:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #000;

  --skipNavBgColour: #ffc857;
  --skipNavTextColour: #000;

  --headingOneTextColour: #929084;
  --headingTwoTextColour: #a997df;

  --topMenuBgColour: #a997df;
  --topMenuTextColour: #333;
  --topMenuTextColourActiveFocus: #333;

  --firstSubLevelBgColour: rgba(189, 217, 191, 0.9);
  --firstSubLevelTextColour: #333;
  --firstSubLevelTextColourActiveFocus: #333;

  --secondSubLevelBgColour: #929084;
  --secondSubLevelTextColour: #000;

  --thirdSubLevelBgColour: #a997df;
  --thirdSubLevelTextColour: #333;

  --fourthSubLevelBgColour: #bdd9bf;
  --fourthSubLevelTextColour: #333;

  --bgColourHoverActiveFocus: #ffc857;
  --textColourHoverActiveFocus: #333;

  --bgColourHoverActiveFocusAlt: #ffc857;
  --textColourHoverActiveFocusAlt: #333;

  --bottomBorderColour: #ffc857;

  --bodyBackgroundColour: #fff;

  --bodyIconStrokeColour: #a997df;
  --bodyIconFillColour: #a997df;
}
