:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #000;

  --skipNavBgColour: #ffc857;
  --skipNavTextColour: #000;

  --headingOneTextColour: #929084;
  --headingTwoTextColour: #a997df;

  --topMenuBgColour: #a997df;
  --topMenuTextColour: #333;
  --topMenuTextColourActiveFocus: #333;

  --firstSubLevelBgColour: rgba(189, 217, 191, 0.9);
  --firstSubLevelTextColour: #333;
  --firstSubLevelTextColourActiveFocus: #333;

  --secondSubLevelBgColour: #929084;
  --secondSubLevelTextColour: #000;

  --thirdSubLevelBgColour: #a997df;
  --thirdSubLevelTextColour: #333;

  --fourthSubLevelBgColour: #bdd9bf;
  --fourthSubLevelTextColour: #333;

  --bgColourHoverActiveFocus: #ffc857;
  --textColourHoverActiveFocus: #333;

  --bgColourHoverActiveFocusAlt: #ffc857;
  --textColourHoverActiveFocusAlt: #333;

  --bottomBorderColour: #ffc857;

  --bodyBackgroundColour: #fff;

  --bodyReportIconStrokeColour: #a997df;
  --bodyReportIconFillColour: #a997df;

  --bodyDataInputIconStrokeColour: #e5323b;
  --bodyDataInputIconFillColour: #e5323b;

  --bodyFileIconStrokeColour: #929084;
  --bodyFileIconFillColour: #929084;

  --titleBannerBgColour: #ffc857;
  --titleBannerColour: #333;

  --subTitleColour: #b8860b;

  --menuListTextColour: #000;
  --menuListTextColourActiveFocus: #000;

  --mobileMenuTextColour: #000;
  --mobileMenuTextColourFocus: #000;
}
