:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #194b4f;

  --skipNavBgColour: #194b4f;
  --skipNavTextColour: #fff;

  --headingOneTextColour: #194b4f;
  --headingTwoTextColour: #dd4444;

  --topMenuBgColour: #dd4444;
  --topMenuTextColour: #000;
  --topMenuTextColourActiveFocus: #fff;

  --firstSubLevelBgColour: rgba(244, 128, 128, 0.9);
  --firstSubLevelTextColour: #000;
  --firstSubLevelTextColourActiveFocus: #fff;

  --secondSubLevelBgColour: #2d676f;
  --secondSubLevelTextColour: #fff;

  --thirdSubLevelBgColour: #dd4444;
  --thirdSubLevelTextColour: #000;

  --fourthSubLevelBgColour: #f48080;
  --fourthSubLevelTextColour: #000;

  --bgColourHoverActiveFocus: #194b4f;
  --textColourHoverActiveFocus: #fff;

  --bgColourHoverActiveFocusAlt: #194b4f;
  --textColourHoverActiveFocusAlt: #fff;

  --bottomBorderColour: #194b4f;

  --bodyBackgroundColour: #fff;

  --bodyReportIconStrokeColour: #194b4f;
  --bodyReportIconFillColour: #194b4f;

  --bodyDataInputIconStrokeColour: #f48080;
  --bodyDataInputIconFillColour: #f48080;

  --bodyFileIconStrokeColour: #dd4444;
  --bodyFileIconFillColour: #dd4444;

  --titleBannerBgColour: #194b4f;
  --titleBannerColour: #fff;

  --subTitleColour: #194b4f;

  --menuListTextColour: #000;
  --menuListTextColourActiveFocus: #000;

  --mobileTabsPanelsActiveFocus: #fff;
}
