:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #000;

  --skipNavBgColour: #ff90b7;
  --skipNavTextColour: #000;
  --skipNavBorderColour: #000;

  --topMenuBgColour: #ff0000;
  --topMenuTextColour: #000;
  --topMenuHoverTextColour: #000;

  --menuBorderColour: #000;
  --menuHoverBgColour: #ff90b7;
  --menuTransparentColour: rgba(255, 144, 183, 0.5);

  --subMenuBgColour: var(--menuHoverBgColour);
  --subMenuTextColour: var(--topMenuHoverTextColour);

  --arrowFillColour: var(--menuHoverBgColour);
  --arrowStrokeColour: var(--topMenuHoverTextColour);

  --bodyBackgroundColour: #fff;

  --headingOneTextColour: #000;
  --headingTwoTextColour: #2b9f84;

  --bottomBorderColour: var(--menuBorderColour);
}
