:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #333;

  --skipNavBgColour: #ffb9bd;
  --skipNavTextColour: #333;

  --headingOneTextColour: #333;
  --headingTwoTextColour: #ff004d;

  --topMenuBgColour: #6d1129;
  --topMenuTextColour: #ffb9bd;
  --topMenuTextColourActiveFocus: #333;

  --firstSubLevelBgColour: rgba(255, 0, 76, 0.9);
  --firstSubLevelTextColour: #6d1129;
  --firstSubLevelTextColourActiveFocus: #333;

  --secondSubLevelBgColour: #785f6d;
  --secondSubLevelTextColour: #fff;

  --thirdSubLevelBgColour: #6d1129;
  --thirdSubLevelTextColour: #ffb9bd;

  --fourthSubLevelBgColour: #ffb9bd;
  --fourthSubLevelTextColour: #333;

  --bgColourHoverActiveFocus: #ffb9bd;
  --textColourHoverActiveFocus: #333;

  --bgColourHoverActiveFocusAlt: #ff004d;
  --textColourHoverActiveFocusAlt: #111;

  --bottomBorderColour: #ff004d;

  --bodyBackgroundColour: #fff;

  --bodyReportIconStrokeColour: #ff004d;
  --bodyReportIconFillColour: #ff004d;

  --bodyDataInputIconStrokeColour: #6d1129;
  --bodyDataInputIconFillColour: #6d1129;

  --bodyFileIconStrokeColour: #785f6d;
  --bodyFileIconFillColour: #785f6d;

  --titleBannerBgColour: #ffb9bd;
  --titleBannerColour: #333;

  --subTitleColour: #333;

  --menuListTextColour: #000;
  --menuListTextColourActiveFocus: #000;

  --mobileMenuTextColour: #000;
  --mobileMenuTextColourFocus: #000;
}
