:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #000;

  --skipNavBgColour: #66004d;
  --skipNavTextColour: #ffe6f2;

  --headingOneTextColour: #000;
  --headingTwoTextColour: #ff0066;

  --topMenuBgColour: #ff0066;
  --topMenuTextColour: #000;
  --topMenuTextColourActiveFocus: #ffe6f2;

  --firstSubLevelBgColour: rgba(0, 230, 230, 0.9);
  --firstSubLevelTextColour: #333;
  --firstSubLevelTextColourActiveFocus: #ffe6f2;

  --secondSubLevelBgColour: #009999;
  --secondSubLevelTextColour: #000;

  --thirdSubLevelBgColour: #ff0066;
  --thirdSubLevelTextColour: #000;

  --fourthSubLevelBgColour: #ffe6f2;
  --fourthSubLevelTextColour: #333;

  --bgColourHoverActiveFocus: #66004d;
  --textColourHoverActiveFocus: #ffe6f2;

  --bgColourHoverActiveFocusAlt: #66004d;
  --textColourHoverActiveFocusAlt: #ffe6f2;

  --bottomBorderColour: #66004d;

  --bodyBackgroundColour: #fff;

  --bodyReportIconStrokeColour: #66004d;
  --bodyReportIconFillColour: #66004d;

  --bodyDataInputIconStrokeColour: #ff0066;
  --bodyDataInputIconFillColour: #ff0066;

  --bodyFileIconStrokeColour: #00e6e6;
  --bodyFileIconFillColour: #00e6e6;

  --titleBannerBgColour: #66004d;
  --titleBannerColour: #ffe6f2;

  --subTitleColour: #66004d;

  --menuListTextColour: #000;
  --menuListTextColourActiveFocus: #000;
}
