:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #303136;

  --skipNavBgColour: #caa386;
  --skipNavTextColour: #303136;
  --skipNavBorderColour: #000;

  --topMenuBgColour: #dbd8c7;
  --topMenuTextColour: #303136;
  --topMenuHoverTextColour: #000;

  --menuBorderColour: #000;
  --menuHoverBgColour: #caa386;
  --menuTransparentColour: rgba(0, 0, 0, 0.5);

  --subMenuBgColour: var(--menuHoverBgColour);
  --subMenuTextColour: var(--topMenuHoverTextColour);

  --arrowFillColour: var(--menuHoverBgColour);
  --arrowStrokeColour: var(--topMenuHoverTextColour);

  --bodyBackgroundColour: #c1c1c1;

  --headingOneTextColour: #303136;
  --headingTwoTextColour: #447794;

  --bottomBorderColour: var(--menuBorderColour);
}
