:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #303136;

  --headingOneTextColour: #303136;

  --topMenuBgColour: #dbd8c7;
  --topMenuTextColour: #303136;

  --firstSubLevelBgColour: rgba(133, 74, 76, 0.9);
  --firstSubLevelTextColour: #fff;

  --secondSubLevelBgColour: #447794;
  --secondSubLevelTextColour: #fff;

  --thirdSubLevelBgColour: #dbd8c7;
  --thirdSubLevelTextColour: #303136;

  --fourthSubLevelBgColour: #303136;
  --fourthSubLevelTextColour: #fff;

  --bgColourHoverActiveFocus: #caa386;
  --textColourHoverActiveFocus: #303136;

  --bgColourHoverActiveFocusAlt: #caa386;
  --textColourHoverActiveFocusAlt: #303136;

  --bottomBorderColour: #cca386;
}
