:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #000;

  --skipNavBgColour: #1d6b2a;
  --skipNavTextColour: #000;

  --headingOneTextColour: #1d6b2a;
  --headingTwoTextColour: #004471;

  --topMenuBgColour: #fff;
  --topMenuTextColour: #0f172a;

  --firstSubLevelBgColour: #fff;
  --firstSubLevelTextColour: #0a2939;

  --secondSubLevelBgColour: #4fc7f4;
  --secondSubLevelTextColour: #0a2939;

  --thirdSubLevelBgColour: #337ab7;
  --thirdSubLevelTextColour: #fff;

  --fourthSubLevelBgColour: #1fb7f1;
  --fourthSubLevelTextColour: #0a2939;

  --bgColourHoverActiveFocus: #fff;
  --textColourHoverActiveFocus: #0a2939;

  --bgColourHoverActiveFocusAlt: #60bd68;
  --textColourHoverActiveFocusAlt: #0a2939;

  --bottomBorderColour: transparent;

  --bodyBackgroundColour: #c1c1c1;
}
