:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #000;

  --headingOneTextColour: #60bd68;

  --topMenuBgColour: #1fb7f1;
  --topMenuTextColour: #0a2939;

  --firstSubLevelBgColour: rgba(127, 213, 247, 0.9);
  --firstSubLevelTextColour: #0a2939;

  --secondSubLevelBgColour: #4fc7f4;
  --secondSubLevelTextColour: #0a2939;

  --thirdSubLevelBgColour: #337ab7;
  --thirdSubLevelTextColour: #fff;

  --fourthSubLevelBgColour: #1fb7f1;
  --fourthSubLevelTextColour: #0a2939;

  --bgColourHoverActiveFocus: #60bd68;
  --textColourHoverActiveFocus: #0a2939;

  --bgColourHoverActiveFocusAlt: #60bd68;
  --textColourHoverActiveFocusAlt: #0a2939;

  --bottomBorderColour: #337ab7;
}
