:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #000;

  --skipNavBgColour: #ff934f;
  --skipNavTextColour: #000;
  --skipNavBorderColour: #000;

  --topMenuBgColour: #e1daae;
  --topMenuTextColour: #2d3142;
  --topMenuHoverTextColour: #2d3142;

  --menuBorderColour: #000;
  --menuHoverBgColour: #ff934f;
  --menuTransparentColour: rgba(0, 0, 0, 0.5);

  --subMenuBgColour: var(--menuHoverBgColour);
  --subMenuTextColour: var(--topMenuTextColour);

  --arrowFillColour: var(--menuHoverBgColour);
  --arrowStrokeColour: var(--topMenuHoverTextColour);

  --bodyBackgroundColour: #c1c1c1;

  --headingOneTextColour: #2d3142;
  --headingTwoTextColour: #004471;

  --bottomBorderColour: var(--menuBorderColour);
}
