:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #2d3043;

  --headingOneTextColour: #2d3043;

  --topMenuBgColour: #f4d4ad;
  --topMenuTextColour: #2d3043;

  --firstSubLevelBgColour: rgba(232, 157, 66, 0.9);
  --firstSubLevelTextColour: #333;

  --secondSubLevelBgColour: #2f88dc;
  --secondSubLevelTextColour: #1e1e1e;

  --thirdSubLevelBgColour: #f4d4ad;
  --thirdSubLevelTextColour: #2d3043;

  --fourthSubLevelBgColour: #2d3043;
  --fourthSubLevelTextColour: #fff;

  --bgColourHoverActiveFocus: #a15229;
  --textColourHoverActiveFocus: #fff;

  --bgColourHoverActiveFocusAlt: #a15229;
  --textColourHoverActiveFocusAlt: #fff;

  --bottomBorderColour: #a15229;
}
