:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #000;

  --headingOneTextColour: #235fa4;

  --topMenuBgColour: #6fde6e;
  --topMenuTextColour: #000;

  --firstSubLevelBgColour: rgba(255, 66, 66, 0.9);
  --firstSubLevelTextColour: #000;

  --secondSubLevelBgColour: #a691ae;
  --secondSubLevelTextColour: #000;

  --thirdSubLevelBgColour: #e8f086;
  --thirdSubLevelTextColour: #000;

  --fourthSubLevelBgColour: #6fde6e;
  --fourthSubLevelTextColour: #000;

  --bgColourHoverActiveFocus: #235fa4;
  --textColourHoverActiveFocus: #fff;

  --bgColourHoverActiveFocusAlt: #235fa4;
  --textColourHoverActiveFocusAlt: #fff;

  --bottomBorderColour: #235fa4;
}
