/* default colours */
html {
  background-color: #fff;
  color: #000;
}

/* h1 text colour */
h1 {
  color: #929084;
}

/* navigation background colour */
#mainNavigation {
  background-color: #929084;
}

/* navigation border bottom colour */
header {
  border-bottom: 0.15rem solid #ffc857;
}

/* link colour */
a {
  color: #ffffff;
}

/* list item hover, focus, and siteIdentity background and font colours */
ul.menu li:hover,
ul.menu li a:focus,
#siteIdentity {
  background-color: #ffc857;
  color: #333333;
}

/* top menu list hover anchor and siteIdentity anchor colour */
ul.menu li:hover a,
#siteIdentity a {
  color: #333333;
}

/* first submenu background colour */
#menu-main-menu > li.menu-item-has-children > ul.sub-menu {
  background-color: rgba(189, 217, 191, 0.9);
}

/* first submenu text colour */
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a {
  color: #333333;
}

/* first submenu hover and focus background and font colours */
header nav ul.menu > li > .mega-menu > .list-item > ul > li > a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a:focus,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:focus {
  background-color: #ffc857;
  color: #333333;
}

/* maintain submenu background colour on hover when another menu item is selected */
.menu-main-menu-container
  > #menu-main-menu
  > li
  > .sub-menu
  > li.menu-item-has-children:hover {
  background-color: #ffc857;
}

/* maintain submenu text colour on hover when another menu item is selected */
.menu-main-menu-container
  > #menu-main-menu
  > li
  > .sub-menu
  > li.menu-item-has-children:hover
  > a:link {
  color: #333333;
}

/* second submenu background and  font colours */
.menu-main-menu-container > #menu-main-menu > li li > .sub-menu a {
  background-color: #929084;
  color: #ffffff;
}

/* third submenu background and font colours */
.menu-main-menu-container > #menu-main-menu > li li li > .sub-menu a {
  background-color: #a997df;
  color: #ffffff;
}

/* fourth submenu background and font colours */
.menu-main-menu-container > #menu-main-menu > li li li li > .sub-menu a {
  background-color: #e5323b;
  color: #ffffff;
}

/* mega menu background colour */
header nav ul.menu > li.menu-item-has-children > .sub-menu-div {
  background-color: #bdd9bf;
}

/* title within a mega menu font colour */
header nav ul.menu > li > .mega-menu.mega-menu-column-4 > .list-item .title {
  color: #e5323b; /* 8.32 */
}

/***** Carets *****/

/* -- first level -- */

/* down arrow stroke colour */
.menu-item-has-children i.angle-down:before {
  border-top: 7px solid #ffffff;
}

/* down arrow stroke colour on hover */
.menu-item-has-children:hover i.angle-down:before {
  border-top: 7px solid #333333;
}

/* down arrow stroke colour on a:focus */
.menu-item-has-children a:focus i.angle-down:before {
  border-top: 7px solid #333333;
}

/* down arrow fill colour */
.menu-item-has-children i.angle-down:after {
  border-top: 4px solid #929084;
}

/* down arrow fill colour on hover */
.menu-item-has-children:hover i.angle-down:after {
  border-top: 4px solid #ffc857;
}

/* down arrow fill colour on a:focus */
.menu-item-has-children a:focus i.angle-down:after {
  border-top: 4px solid #ffc857;
}

/* ---- ---- */

/* up arrow stroke colour */
.menu-item-has-children i.angle-up:before {
  border-bottom: 7px solid #ffffff;
}

/* up arrow stroke colour on hover */
.menu-item-has-children:hover i.angle-up:before {
  border-bottom: 7px solid #333333;
}

/* up arrow stroke colour on a:focus */
.menu-item-has-children a:focus i.angle-up:before {
  border-bottom: 7px solid #333333;
}

/* up arrow fill colour */
.menu-item-has-children i.angle-up:after {
  border-bottom: 4px solid #929084;
}

/* up arrow fill colour on hover */
.menu-item-has-children:hover i.angle-up:after {
  border-bottom: 4px solid #ffc857;
}

/* up arrow fill colour on a:focus */
.menu-item-has-children a:focus i.angle-up:after {
  border-bottom: 4px solid #ffc857;
}

/* -- second level -- */

/* down arrow stroke colour */
.menu-item-has-children .menu-item-has-children i.angle-down:before {
  border-top: 7px solid #333333;
}

/* down arrow stroke colour on hover */
.menu-item-has-children .menu-item-has-children:hover i.angle-down:before {
  border-top: 7px solid #333333;
}

/* down arrow stroke colour on focus */
.menu-item-has-children .menu-item-has-children:focus i.angle-down:before {
  border-top: 7px solid #333333;
}

/* down arrow fill colour */
.menu-item-has-children .menu-item-has-children i.angle-down:after {
  border-top: 4px solid rgba(189, 217, 191, 0.9);
}

/* down arrow fill colour on hover */
.menu-item-has-children .menu-item-has-children:hover i.angle-down:after {
  border-top: 4px solid #ffc857;
}

/* down arrow fill colour on a:hover */
.menu-item-has-children .menu-item-has-children a:hover i.angle-down:after {
  border-top: 4px solid #ffc857;
}

/* down arrow fill colour on focus */
.menu-item-has-children .menu-item-has-children:focus i.angle-down:after {
  border-top: 4px solid #ffc857;
}

/* down arrow fill colour on a:focus */
.menu-item-has-children .menu-item-has-children a:focus i.angle-down:after {
  border-top: 4px solid #ffc857;
}

/*---- ---- */

/* up arrow stroke colour */
.menu-item-has-children .menu-item-has-children i.angle-up:before {
  border-bottom: 7px solid #333333;
}

/* up arrow stroke colour on hover */
.menu-item-has-children .menu-item-has-children:hover i.angle-up:before {
  border-bottom: 7px solid #333333;
}

/* up arrow stroke colour on focus */
.menu-item-has-children .menu-item-has-children:hover i.angle-up:before {
  border-bottom: 7px solid #333333;
}

/* up arrow fill colour */
.menu-item-has-children .menu-item-has-children i.angle-up:after {
  border-bottom: 4px solid rgba(189, 217, 191, 0.9);
}

/* up arrow fill colour on hover */
.menu-item-has-children .menu-item-has-children:hover i.angle-up:after {
  border-bottom: 4px solid #ffc857;
}

/* up arrow fill colour on a:hover */
.menu-item-has-children .menu-item-has-children a:hover i.angle-up:after {
  border-bottom: 4px solid #ffc857;
}

/* up arrow fill colour on focus */
.menu-item-has-children .menu-item-has-children:focus i.angle-up:after {
  border-bottom: 4px solid #ffc857;
}

/* up arrow fill colour on a:focus */
.menu-item-has-children .menu-item-has-children a:focus i.angle-up:after {
  border-bottom: 4px solid #ffc857;
}

/* maintain background colour on the parent on hover */
.menu-main-menu-container
  > #menu-main-menu
  > li
  > .sub-menu
  > li.menu-item-has-children:hover
  i.angle-up:after {
  border-bottom: 4px solid #ffc857;
}

/* --- Third-level --- */

/* down arrow stroke colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-down:before {
  border-top: 7px solid #ffffff;
}

/* down arrow stroke colour on hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-down:before {
  border-top: 7px solid #333333;
}

/* down arrow stroke colour on focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-down:before {
  border-top: 7px solid #333333;
}

/* down arrow fill colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-down:after {
  border-top: 4px solid #929084;
}

/* down arrow fill colour on hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-down:after {
  border-top: 4px solid #ffc857;
}

/* down arrow fill colour on a:hover  */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:hover
  i.angle-down:after {
  border-top: 4px solid #ffc857;
}

/* down arrow fill colour on focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-down:after {
  border-top: 4px solid #ffc857;
}

/* down arrow fill colour on a:focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:focus
  i.angle-down:after {
  border-top: 4px solid #ffc857;
}

/*--- --- */

/* up arrow stroke colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-up:before {
  border-bottom: 7px solid #ffffff;
}

/* up arrow stroke colour on hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-up:before {
  border-bottom: 7px solid #333333;
}

/* up arrow stroke colour on focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-up:before {
  border-bottom: 7px solid #333333;
}

/* up arrow fill colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-up:after {
  border-bottom: 4px solid #929084;
}

/* up arrow fill colour on hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-up:after {
  border-bottom: 4px solid #ffc857;
}

/* up arrow fill colour a:hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:hover
  i.angle-up:after {
  border-bottom: 4px solid #ffc857;
}

/* up arrow fill colour on focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-up:after {
  border-bottom: 4px solid #ffc857;
}

/* up arrow fill colour on a:focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:focus
  i.angle-up:after {
  border-bottom: 4px solid #ffc857;
}
