:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #000;

  --skipNavBgColour: #235fa4;
  --skipNavTextColour: #fff;
  --skipNavBorderColour: #000;

  --topMenuBgColour: #6fde6e;
  --topMenuTextColour: #000;
  --topMenuHoverTextColour: #000;

  --menuBorderColour: #235fa4;
  --menuHoverBgColour: #e8f086;
  --menuTransparentColour: rgba(96, 189, 104, 0.5);

  --subMenuBgColour: var(--menuHoverBgColour);
  --subMenuTextColour: var(--topMenuTextColour);

  --arrowFillColour: var(--menuHoverBgColour);
  --arrowStrokeColour: var(--topMenuHoverTextColour);

  --bodyBackgroundColour: #c1c1c1;

  --headingOneTextColour: #1d6b2a;
  --headingTwoTextColour: #004471;

  --bottomBorderColour: transparent;
}
