/* default colours */
html {
  background-color: #fff;
  color: #333;
}

/* h1 text colour */
h1 {
  color: #333;
}

/* navigation background colour */
#mainNavigation {
  background-color: #0a556b;
}

/* navigation border bottom colour */
header {
  border-bottom: 0.15rem solid #218ab2;
}

/* link colour */
ul#menu-main-menu a {
  color: #daf1f4;
}

/* link background and font colours on hover and focus */
ul#menu-main-menu li a:hover,
ul#menu-main-menu li a:focus,
ul.menu li:hover,
ul.menu li a:focus {
  background-color: #218ab2;
  color: #daf1f4;
}

/* maintain main menu text colour on hover when a sub menu item is selected */
.menu-main-menu-container
  > #menu-main-menu
  > li.menu-item-has-children:hover
  > a:link {
  color: #daf1f4;
}

/* first submenu background colour */
#menu-main-menu > li.menu-item-has-children > ul.sub-menu {
  background-color: rgba(0, 221, 255, 0.9);
}

/* first submenu text colour */
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a {
  color: #333;
}

/* first submenu hover and focus background and font colours */
header nav ul.menu > li > .mega-menu > .list-item > ul > li > a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a:focus,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:focus {
  background-color: #218ab2;
  color: #daf1f4;
}

/* maintain submenu background colour on hover when another menu item is selected */
.menu-main-menu-container
  > #menu-main-menu
  > li
  > .sub-menu
  > li.menu-item-has-children:hover {
  background-color: #218ab2;
}

/* maintain submenu text colour on hover when another menu item is selected */
.menu-main-menu-container
  > #menu-main-menu
  > li
  > .sub-menu
  > li.menu-item-has-children:hover
  > a:link {
  color: #daf1f4;
}

/* second submenu background and font colours */
.menu-main-menu-container > #menu-main-menu > li li > .sub-menu a {
  background-color: #a6ebff;
  color: #218ab2;
}

/* third submenu background and font colours */
.menu-main-menu-container > #menu-main-menu > li li li > .sub-menu a {
  background-color: #0a556b;
  color: #daf1f4;
}

/* fourth submenu background and font colours */
.menu-main-menu-container > #menu-main-menu > li li li li > .sub-menu a {
  background-color: #00dfff;
  color: #0a556b;
}

/* mega menu background and font colours */
header nav ul.menu > li.menu-item-has-children > .sub-menu-div {
  background-color: rgba(0, 221, 255, 0.9);
  color: #0a556b;
}

/* title within a mega menu font colour */
header nav ul.menu > li > .mega-menu.mega-menu-column-4 > .list-item .title {
  color: #0a556b; /* contrast: 13.14 pass accessibility */
}

/***** Carets *****/

/* -- first level -- */

/* down arrow stroke colour */
.menu-item-has-children i.angle-down:before {
  border-top: 7px solid #daf1f4;
}

/* down arrow stroke colour on hover */
.menu-item-has-children:hover i.angle-down:before {
  border-top: 7px solid #daf1f4;
}

/* down arrow stroke colour on a:focus */
.menu-item-has-children a:focus i.angle-down:before {
  border-top: 7px solid #daf1f4;
}

/* down arrow fill colour */
.menu-item-has-children i.angle-down:after {
  border-top: 4px solid #0a556b;
}

/* down arrow fill colour on hover */
.menu-item-has-children:hover i.angle-down:after {
  border-top: 4px solid #218ab2;
}

/* down arrow fill colour on a:focus */
.menu-item-has-children a:focus i.angle-down:after {
  border-top: 4px solid #218ab2;
}

/* ---- ---- */

/* up arrow stroke colour */
.menu-item-has-children i.angle-up:before {
  border-bottom: 7px solid #daf1f4;
}

/* up arrow stroke colour on hover */
.menu-item-has-children:hover i.angle-up:before {
  border-bottom: 7px solid #daf1f4;
}

/* up arrow stroke colour on a:focus */
.menu-item-has-children a:focus i.angle-up:before {
  border-bottom: 7px solid #daf1f4;
}

/* up arrow stroke colour when menuMoreLink has active class */
#menuMoreLink.active > i.angle-up:before {
  border-bottom: 7px solid #daf1f4;
}

/* up arrow fill colour */
.menu-item-has-children i.angle-up:after {
  border-bottom: 4px solid #0a556b;
}

/* up arrow fill colour on hover */
.menu-item-has-children:hover i.angle-up:after {
  border-bottom: 4px solid #218ab2;
}

/* up arrow fill colour on a:focus */
.menu-item-has-children a:focus i.angle-up:after {
  border-bottom: 4px solid #218ab2;
}

/* up arrow fill colour when menu is open and hover */
#menuMoreLink.active > i.angle-up:after {
  border-bottom: 4px solid #218ab2;
}

/* -- second level -- */

/* down arrow stroke colour */
.menu-item-has-children .menu-item-has-children i.angle-down:before {
  border-top: 7px solid #333;
}

/* down arrow stroke colour on hover */
.menu-item-has-children .menu-item-has-children:hover i.angle-down:before {
  border-top: 7px solid #daf1f4;
}

/* down arrow stroke colour on a:focus */
.menu-item-has-children .menu-item-has-children a:focus i.angle-down:before {
  border-top: 7px solid #daf1f4;
}

/* down arrow fill colour */
.menu-item-has-children .menu-item-has-children i.angle-down:after {
  border-top: 4px solid rgba(0, 221, 255, 0.9);
}

/* down arrow fill colour on hover */
.menu-item-has-children .menu-item-has-children:hover i.angle-down:after {
  border-top: 4px solid #218ab2;
}

/* down arrow fill colour on a:hover */
.menu-item-has-children .menu-item-has-children a:hover i.angle-down:after {
  border-top: 4px solid #218ab2;
}

/* down arrow fill colour on focus */
.menu-item-has-children .menu-item-has-children:focus i.angle-down:after {
  border-top: 4px solid #218ab2;
}

/* down arrow fill colour on a:focus */
.menu-item-has-children .menu-item-has-children a:focus i.angle-down:after {
  border-top: 4px solid #218ab2;
}

/* ---- ---- */

/* up arrow stroke colour */
.menu-item-has-children .menu-item-has-children i.angle-up:before {
  border-bottom: 7px solid #333;
}

/* up arrow stroke colour on hover */
.menu-item-has-children .menu-item-has-children:hover i.angle-up:before {
  border-bottom: 7px solid #daf1f4;
}

/* up arrow stroke colour on a:focus */
.menu-item-has-children .menu-item-has-children a:focus i.angle-up:before {
  border-bottom: 7px solid #daf1f4;
}

/* up arrow stroke colour when a has active class and not :focus */
.menu-item-has-children
  .menu-item-has-children
  a.active:not(:focus)
  i.angle-up:before {
  border-bottom: 7px solid #daf1f4;
}

/* up arrow stroke colour when a has active class and :focus */
.menu-item-has-children
  .menu-item-has-children
  a.active:focus
  i.angle-up:before {
  border-bottom: 7px solid #daf1f4;
}

/* up arrow fill colour */
.menu-item-has-children .menu-item-has-children i.angle-up:after {
  border-bottom: 4px solid rgba(0, 221, 255, 0.9);
}

/* up arrow fill colour on hover */
.menu-item-has-children .menu-item-has-children:hover i.angle-up:after {
  border-bottom: 4px solid #218ab2;
}

/* up arrow fill colour on a:hover */
.menu-item-has-children .menu-item-has-children a:hover i.angle-up:after {
  border-bottom: 4px solid #218ab2;
}

/* up arrow fill colour on focus */
.menu-item-has-children .menu-item-has-children:focus i.angle-up:after {
  border-bottom: 4px solid #218ab2;
}

/* up arrow fill colour on a:focus */
.menu-item-has-children .menu-item-has-children a:focus i.angle-up:after {
  border-bottom: 4px solid #218ab2;
}

/* up arrow fill colour when a has active class and not :focus */
.menu-item-has-children
  .menu-item-has-children
  a.active:not(:focus)
  i.angle-up:after {
  border-bottom: 4px solid #218ab2;
}

/* maintain background colour on the parent on hover */
.menu-main-menu-container
  > #menu-main-menu
  > li
  > .sub-menu
  > li.menu-item-has-children:hover
  i.angle-up:after {
  border-bottom: 4px solid #218ab2;
}

/* --- Third level --- */

/* down arrow stroke colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-down:before {
  border-top: 7px solid #218ab2;
}

/* down arrow stroke colour on hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-down:before {
  border-top: 7px solid #daf1f4;
}

/* down arrow stroke colour on focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-down:before {
  border-top: 7px solid #daf1f4;
}

/* down arrow stroke colour when a has focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:focus
  i.angle-down:before {
  border-top: 7px solid #daf1f4;
}

/* down arrow fill colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-down:after {
  border-top: 4px solid #a6ebff;
}

/* down arrow fill colour on hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-down:after {
  border-top: 4px solid #218ab2;
}

/* down arrow fill colour on a:hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:hover
  i.angle-down:after {
  border-top: 4px solid #218ab2;
}

/* down arrow fill colour on focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-down:after {
  border-top: 4px solid #218ab2;
}

/* down arrow fill colour on a:focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:focus
  i.angle-down:after {
  border-top: 4px solid #218ab2;
}

/* ---- ---- */

/* up arrow stroke colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-up:before {
  border-bottom: 7px solid #218ab2;
}

/* up arrow stroke colour on hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-up:before {
  border-bottom: 7px solid #daf1f4;
}

/* up arrow stroke colour on focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-up:before {
  border-bottom: 7px solid #daf1f4;
}

/* up arrow fill colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-up:after {
  border-bottom: 4px solid #a6ebff;
}

/* up arrow fill colour on hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-up:after {
  border-bottom: 4px solid #218ab2;
}

/* up arrow fill colour a:hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:hover
  i.angle-up:after {
  border-bottom: 4px solid #218ab2;
}

/* up arrow fill colour on focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-up:after {
  border-bottom: 4px solid #218ab2;
}

/* up arrow fill colour on a:focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:focus
  i.angle-up:after {
  border-bottom: 4px solid #218ab2;
}

/* --- Fourth level  --- */

/* down arrow stroke colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-down:before {
  border-top: 7px solid #daf1f4;
}

/* down arrow stroke colour a:hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:hover
  i.angle-down:before {
  border-top: 7px solid #daf1f4 !important;
}

/* down arrow stroke colour a:focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:focus
  i.angle-down:before {
  border-top: 7px solid #daf1f4 !important;
}

/* down arrow fill colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-down:after {
  border-top: 4px solid #0a556b;
}

/* --- divider --- */
.underline-item {
  position: relative;
}

.underline-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%; /* Centering the line */
  width: 90%; /* Span 80% of the width */
  border-bottom: 2px solid #a6ebff;
}

/* preserve top level menu item colour when a secondary menu item is clicked */
li > .active,
li > li > .active {
  background-color: #218ab2;
  color: #daf1f4 !important;
}

/* preserve secondary level menu item colour when a third menu item is clicked */
.menu-item-has-children > ul.sub-menu > .menu-item-has-children > .active {
  background-color: #218ab2 !important;
  color: #daf1f4 !important;
}
