:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #000;

  --skipNavBgColour: #66004d;
  --skipNavTextColour: #ffe6f2;
  --skipNavBorderColour: #000;

  --topMenuBgColour: #ff0066;
  --topMenuTextColour: #000;
  --topMenuHoverTextColour: #ffe6f2;

  --menuBorderColour: #ffe6f2;
  --menuHoverBgColour: #66004d;
  --menuTransparentColour: rgba(102, 0, 77, 0.5);

  --subMenuBgColour: var(--menuHoverBgColour);
  --subMenuTextColour: var(--topMenuHoverTextColour);

  --arrowFillColour: var(--menuHoverBgColour);
  --arrowStrokeColour: var(--topMenuHoverTextColour);

  --bodyBackgroundColour: #c1c1c1;

  --headingOneTextColour: #000;
  --headingTwoTextColour: #009999;

  --bottomBorderColour: var(--menuHoverBgColour);
}
