:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #333;

  --headingOneTextColour: #333;

  --topMenuBgColour: #6d1129;
  --topMenuTextColour: #ffb9bd;

  --firstSubLevelBgColour: rgba(255, 185, 188, 0.9);
  --firstSubLevelTextColour: #6d1129;

  --secondSubLevelBgColour: #785f6d;
  --secondSubLevelTextColour: #fff;

  --thirdSubLevelBgColour: #6d1129;
  --thirdSubLevelTextColour: #ffb9bd;

  --fourthSubLevelBgColour: #ffb9bd;
  --fourthSubLevelTextColour: #333;

  --bgColourHoverActiveFocus: #ffb9bd;
  --textColourHoverActiveFocus: #333;

  --bgColourHoverActiveFocusAlt: #ff004d;
  --textColourHoverActiveFocusAlt: #111;

  --bottomBorderColour: #ff004d;
}
