:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #000;

  --headingOneTextColour: #000;

  --topMenuBgColour: #ff0066;
  --topMenuTextColour: #000;

  --firstSubLevelBgColour: rgba(0, 230, 230, 0.9);
  --firstSubLevelTextColour: #333;

  --secondSubLevelBgColour: #009999;
  --secondSubLevelTextColour: #000;

  --thirdSubLevelBgColour: #ff0066;
  --thirdSubLevelTextColour: #000;

  --fourthSubLevelBgColour: #ffe6f2;
  --fourthSubLevelTextColour: #333;

  --bgColourHoverActiveFocus: #66004d;
  --textColourHoverActiveFocus: #ffe6f2;

  --bgColourHoverActiveFocusAlt: #66004d;
  --textColourHoverActiveFocusAlt: #ffe6f2;

  --bottomBorderColour: #66004d;
}
