:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #2a3338;

  --skipNavBgColour: #2a3338;
  --skipNavTextColour: #e8d3e4;
  --skipNavBorderColour: #000;

  --topMenuBgColour: #e8d3e4;
  --topMenuTextColour: #2a3338;
  --topMenuHoverTextColour: #e8d3e4;

  --menuBorderColour: #e8d3e4;
  --menuHoverBgColour: #2a3338;
  --menuTransparentColour: rgba(42, 51, 56, 0.5);

  --subMenuBgColour: var(--menuHoverBgColour);
  --subMenuTextColour: var(--topMenuHoverTextColour);

  --arrowFillColour: var(--menuHoverBgColour);
  --arrowStrokeColour: var(--topMenuHoverTextColour);

  --bodyBackgroundColour: #c1c1c1;

  --headingOneTextColour: #2a3338;
  --headingTwoTextColour: #01959f;

  --bottomBorderColour: var(--menuBorderColour);
}
