:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #2a3338;

  --headingOneTextColour: #2a3338;

  --topMenuBgColour: #e8d3e4;
  --topMenuTextColour: #2a3338;

  --firstSubLevelBgColour: rgba(206, 43, 43, 0.9);
  --firstSubLevelTextColour: #fff;

  --secondSubLevelBgColour: #01959f;
  --secondSubLevelTextColour: #000;

  --thirdSubLevelBgColour: #e8d3e4;
  --thirdSubLevelTextColour: #2a3338;

  --fourthSubLevelBgColour: #ff8d97;
  --fourthSubLevelTextColour: #000;

  --bgColourHoverActiveFocus: #2a3338;
  --textColourHoverActiveFocus: #e8d3e4;

  --bgColourHoverActiveFocusAlt: #2a3338;
  --textColourHoverActiveFocusAlt: #e8d3e4;

  --bottomBorderColour: #2a3338;
}
