/* default colours */
html {
  background-color: #fff;
  color: #000;
}

/* h1 text colour */
h1 {
  color: #000;
}

/* navigation background colour */
#mainNavigation {
  background-color: #ff0066;
}

/* navigation border bottom colour */
header {
  border-bottom: 0.15rem solid #66004d;
}

/* link colour */
ul#menu-main-menu a {
  color: #ffe6f2;
}

/* link background and font colours on hover, focus and active */
ul#menu-main-menu li a:hover,
ul#menu-main-menu li a:focus,
ul#menu-main-menu a.active,
ul.menu li:hover,
ul.menu li a:focus,
ul.menu li a:active {
  background-color: #66004d;
  color: #ffe6f2;
}

/* maintain main menu text colour on hover when a sub menu item is selected */
.menu-main-menu-container
  > #menu-main-menu
  > li.menu-item-has-children:hover
  > a:link {
  color: #ffe6f2;
}

/* first submenu background colour */
#menu-main-menu > li.menu-item-has-children > ul.sub-menu {
  background-color: rgba(0, 230, 230, 0.9);
}

/* first submenu text colour */
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a {
  color: #333;
}

/* first submenu hover and focus background and font colours under "More" menu */
header nav ul.menu > li > .mega-menu > .list-item > ul > li > a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a:focus,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:focus {
  background-color: #66004d;
  color: #ffe6f2;
}

/* second submenu background and font colours */
.menu-main-menu-container > #menu-main-menu > li li > .sub-menu a {
  background-color: #009999;
  color: #fff;
}

/* third submenu background and font colours */
.menu-main-menu-container > #menu-main-menu > li li li > .sub-menu a {
  background-color: #ff0066;
  color: #ffe6f2;
}

/* fourth submenu background and font colours */
.menu-main-menu-container > #menu-main-menu > li li li li > .sub-menu a {
  background-color: #ffe6f2;
  color: #333;
}

/* mega menu background and font colours */
header nav ul.menu > li.menu-item-has-children > .sub-menu-div {
  background-color: rgba(0, 230, 230, 0.9);
  color: #333;
}

/* title within a mega menu font colour */
header nav ul.menu > li > .mega-menu.mega-menu-column-4 > .list-item .title {
  color: #66004d; /* 4.56 */
}

/***** Carets *****/

/* -- first level -- */

/* down arrow stroke colour */
.menu-item-has-children i.angle-down:before {
  border-top: 7px solid #ffe6f2;
}

/* down arrow stroke colour on hover, a:focus */
.menu-item-has-children:hover i.angle-down:before,
.menu-item-has-children a:focus i.angle-down:before {
  border-top: 7px solid #ffe6f2;
}

/* down arrow fill colour */
.menu-item-has-children i.angle-down:after {
  border-top: 4px solid #ff0066;
}

/* down arrow fill colour on hover, a:focus */
.menu-item-has-children:hover i.angle-down:after,
.menu-item-has-children a:focus i.angle-down:after {
  border-top: 4px solid #66004d;
}

/* ---- ---- */

/* up arrow stroke colour */
.menu-item-has-children i.angle-up:before {
  border-bottom: 7px solid #ffe6f2;
}

/* up arrow stroke colour on hover, a:focus, when menuMoreLink has active class */
.menu-item-has-children:hover i.angle-up:before,
.menu-item-has-children a:focus i.angle-up:before,
#menuMoreLink.active > i.angle-up:before {
  border-bottom: 7px solid #ffe6f2;
}

/* up arrow fill colour */
.menu-item-has-children i.angle-up:after {
  border-bottom: 4px solid #ff0066;
}

/* up arrow fill colour on hover, a:focus, when menu is open and hover */
.menu-item-has-children:hover i.angle-up:after,
.menu-item-has-children a:focus i.angle-up:after,
#menuMoreLink.active > i.angle-up:after {
  border-bottom: 4px solid #66004d;
}

/* -- second level -- */

/* down arrow stroke colour */
.menu-item-has-children .menu-item-has-children i.angle-down:before {
  border-top: 7px solid #333;
}

/* down arrow stroke colour on hover, a:focus */
.menu-item-has-children .menu-item-has-children:hover i.angle-down:before,
.menu-item-has-children .menu-item-has-children a:focus i.angle-down:before {
  border-top: 7px solid #ffe6f2;
}

/* down arrow fill colour */
.menu-item-has-children .menu-item-has-children i.angle-down:after {
  border-top: 4px solid rgba(0, 230, 230, 0.9);
}

/* down arrow fill colour on hover, a:hover, focus, a:focus */
.menu-item-has-children .menu-item-has-children:hover i.angle-down:after,
.menu-item-has-children .menu-item-has-children a:hover i.angle-down:after,
.menu-item-has-children .menu-item-has-children:focus i.angle-down:after,
.menu-item-has-children .menu-item-has-children a:focus i.angle-down:after {
  border-top: 4px solid #66004d;
}

/* ---- ---- */

/* up arrow stroke colour */
.menu-item-has-children .menu-item-has-children i.angle-up:before {
  border-bottom: 7px solid #333;
}

/* up arrow stroke colour on hover, a:focus, when a has active class and not :focus, when a has active class and :focus */
.menu-item-has-children .menu-item-has-children:hover i.angle-up:before,
.menu-item-has-children .menu-item-has-children a:focus i.angle-up:before,
.menu-item-has-children
  .menu-item-has-children
  a.active:not(:focus)
  i.angle-up:before,
.menu-item-has-children
  .menu-item-has-children
  a.active:focus
  i.angle-up:before {
  border-bottom: 7px solid #ffe6f2;
}

/* up arrow fill colour */
.menu-item-has-children .menu-item-has-children i.angle-up:after {
  border-bottom: 4px solid rgba(0, 230, 230, 0.9);
}

/* up arrow fill colour on hover, a:hover, focus, a:focus, when a has active class and not :focus */
.menu-item-has-children .menu-item-has-children:hover i.angle-up:after,
.menu-item-has-children .menu-item-has-children a:hover i.angle-up:after,
.menu-item-has-children .menu-item-has-children:focus i.angle-up:after,
.menu-item-has-children .menu-item-has-children a:focus i.angle-up:after,
.menu-item-has-children
  .menu-item-has-children
  a.active:not(:focus)
  i.angle-up:after {
  border-bottom: 4px solid #66004d;
}

/* maintain background colour on the parent on hover */
.menu-main-menu-container
  > #menu-main-menu
  > li
  > .sub-menu
  > li.menu-item-has-children:hover
  i.angle-up:after {
  border-bottom: 4px solid #66004d;
}

/* --- Third level --- */

/* down arrow stroke colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-down:before {
  border-top: 7px solid #ffe6f2;
}

/* down arrow stroke colour on hover, focus, a:focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-down:before,
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-down:before,
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:focus
  i.angle-down:before {
  border-top: 7px solid #ffe6f2;
}

/* down arrow fill colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-down:after {
  border-top: 4px solid #009999;
}

/* down arrow fill colour on hover, a:hover, focus, a:focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-down:after,
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:hover
  i.angle-down:after,
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-down:after,
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:focus
  i.angle-down:after {
  border-top: 4px solid #66004d;
}

/* ---- ---- */

/* up arrow stroke colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-up:before {
  border-bottom: 7px solid #fff;
}

/* up arrow stroke colour on hover, focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-up:before,
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-up:before {
  border-bottom: 7px solid #ffe6f2;
}

/* up arrow fill colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-up:after {
  border-bottom: 4px solid #009999;
}

/* up arrow fill colour on hover, a:hover, focus, a:focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-up:after,
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:hover
  i.angle-up:after,
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-up:after,
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:focus
  i.angle-up:after {
  border-bottom: 4px solid #66004d;
}

/* --- Fourth level  --- */

/* down arrow stroke colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-down:before {
  border-top: 7px solid #ffe6f2;
}

/* down arrow stroke colour a:hover, a:focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:hover
  i.angle-down:before,
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:focus
  i.angle-down:before {
  border-top: 7px solid #ffe6f2;
}

/* down arrow fill colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-down:after {
  border-top: 4px solid #ff0066;
}

/* --- divider --- */
.underline-item {
  position: relative;
}

.underline-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%; /* Centering the line */
  width: 90%; /* Span 80% of the width */
  border-bottom: 2px solid #ffe6f2;
}

/* preserve top level menu item colour when a secondary menu item is clicked */
li > .active,
li > li > .active {
  background-color: #66004d;
}

/* preserve secondary level menu item colour when a third menu item is clicked */
li > ul.sub-menu > li > .active {
  background-color: #66004d !important;
  color: #ffe6f2 !important;
}
