:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #333;

  --skipNavBgColour: #ffb9bd;
  --skipNavTextColour: #333;
  --skipNavBorderColour: #333;

  --topMenuBgColour: #6d1129;
  --topMenuTextColour: #ffb9bd;
  --topMenuHoverTextColour: #000;

  --menuBorderColour: #000;
  --menuHoverBgColour: #ff90b7;
  --menuTransparentColour: rgba(255, 144, 183, 0.5);

  --subMenuBgColour: var(--menuHoverBgColour);
  --subMenuTextColour: var(--topMenuHoverTextColour);

  --arrowFillColour: var(--menuHoverBgColour);
  --arrowStrokeColour: var(--topMenuHoverTextColour);

  --bodyBackgroundColour: #fff;

  --headingOneTextColour: #333;
  --headingTwoTextColour: #6d1129;

  --bottomBorderColour: var(--menuBorderColour);
}
