:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #194b4f;

  --headingOneTextColour: #194b4f;

  --topMenuBgColour: #dd4444;
  --topMenuTextColour: #000;

  --firstSubLevelBgColour: rgba(244, 128, 128, 0.9);
  --firstSubLevelTextColour: #000;

  --secondSubLevelBgColour: #2d676f;
  --secondSubLevelTextColour: #fff;

  --thirdSubLevelBgColour: #dd4444;
  --thirdSubLevelTextColour: #000;

  --fourthSubLevelBgColour: #f48080;
  --fourthSubLevelTextColour: #000;

  --bgColourHoverActiveFocus: #194b4f;
  --textColourHoverActiveFocus: #fff;

  --bgColourHoverActiveFocusAlt: #194b4f;
  --textColourHoverActiveFocusAlt: #fff;

  --bottomBorderColour: #194b4f;
}
