:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #000;

  --headingOneTextColour: #000;

  --topMenuBgColour: #ff0000;
  --topMenuTextColour: #000;

  --firstSubLevelBgColour: rgba(0, 251, 255, 0.9);
  --firstSubLevelTextColour: #333;

  --secondSubLevelBgColour: #2b9f84;
  --secondSubLevelTextColour: #000;

  --thirdSubLevelBgColour: #ff0000;
  --thirdSubLevelTextColour: #000;

  --fourthSubLevelBgColour: #ebffff;
  --fourthSubLevelTextColour: #333;

  --bgColourHoverActiveFocus: #ff90b7;
  --textColourHoverActiveFocus: #000;

  --bgColourHoverActiveFocusAlt: #ff90b7;
  --textColourHoverActiveFocusAlt: #000;

  --bottomBorderColour: #ff90b7;
}
