html {
  background-color: #fff;
  color: #2a3338;
}

h1 {
  color: #2a3338;
}

#mainNavigation {
  background-color: #e8d3e4;
}

ul#menu-main-menu li > ul,
.menu-main-menu-container > #menu-main-menu > li > a {
  color: #2a3338;
}

header {
  border-bottom: 0.15rem solid #2a3338;
}

a {
  color: #2a3338;
}

a:hover,
a:focus,
#siteIdentity a {
  color: #2a3338;
}

ul#menu-main-menu li > ul,
.menu-main-menu-container
  > #menu-main-menu
  > li
  > .sub-menu
  > li.menu-item-has-children:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:focus,
.sub-menu-div.mega-menu.mega-menu-column-4 a:hover {
  background-color: #caa386;
  background-color: #2a3338;
}

#siteIdentity {
  background-color: #01959f;
}

#siteIdentity a {
  color: #fff;
}

.menu-main-menu-container > #menu-main-menu > li > .sub-menu a,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a {
  color: #fff;
}

.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:focus {
  background-color: #2a3338;
  color: #fff;
}

/* Change top-level background color on hover */
.menu-main-menu > .menu > li:hover > a {
  background-color: #2a3338;
}

/* Change top-level background color when sub-menu is open */
.menu-main-menu > .menu > li:hover > ul {
  display: block;
}

#menu-main-menu > li.menu-item-has-children > ul.sub-menu {
  background-color: rgba(
    206,
    43,
    43,
    0.9
  ); /* first submenu background colour */
}

#menu-main-menu > li.menu-item-has-children > ul.sub-menu > li > a {
  color: #fff;
}

#menu-main-menu > li.menu-item-has-children > li li > ul.sub-menu {
  background-color: #2a3338;
}

.menu-main-menu-container > #menu-main-menu > li li > .sub-menu a {
  background-color: #01959f; /* second submenu background-colour */
  color: #fff;
}
.menu-main-menu-container > #menu-main-menu > li li li > .sub-menu a {
  background-color: #e8d3e4; /* third submenu background-colour */
  color: #2a3338;
}

.menu-main-menu-container > #menu-main-menu > li li li li > .sub-menu a {
  background-color: #ff8d97; /* fourth submenu background-colour */
  color: #fff;
}

/* Styles from Mega menu */
header nav ul.menu > li.menu-item-has-children > .sub-menu-div {
  background-color: rgba(206, 43, 43, 0.9);
  color: #2a3338;
}

ul.menu li:hover {
  background-color: #2a3338; /* top level hover */
}

header nav ul.menu > li > .mega-menu > .list-item > ul > li > a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a:focus {
  background-color: #2a3338;
  /* background-color: #ff0000; */
  color: #fff;
  /* color: #ff0000; */
}

ul.menu li:hover a {
  /* color: #2a3338; */
}

header nav ul.menu > li > .mega-menu.mega-menu-column-4 > .list-item .title {
  color: #000; /* 4.56 */
}

ul.menu li:hover > a {
  color: #e8d3e4 !important;
}

.login-form {
  background-color: #e8d3e4;
}

.login-form h1,
.login-form label {
  color: #2a3338;
}

.login-form input[type='submit'] {
  background-color: #01959f;
  color: #fff;
}

.login-form input[type='submit']:hover {
  background-color: #2a3338;
  color: #e8d3e4;
}
