/* default colours */
html {
  background-color: #fff;
  color: #000000;
}

/* h1 text colour */
h1 {
  color: #000000;
}

/* navigation background colour */
#mainNavigation {
  background-color: #ff0000;
}

/* navigation border bottom colour */
header {
  border-bottom: 0.15rem solid #ff90b7;
}

/* link colour */
ul#menu-main-menu a {
  color: #ebffff;
}

/* list item hover, and focus background colour */
ul.menu li:hover,
ul.menu li a:focus {
  background-color: #ff90b7;
}

/* top menu list hover anchor and siteIdentity anchor colour */
ul.menu li:hover a,
#siteIdentity a {
  color: #ebffff;
}

/* first submenu background colour */
#menu-main-menu > li.menu-item-has-children > ul.sub-menu {
  background-color: rgba(0, 251, 255, 0.9);
}

/* first submenu text colour */
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a {
  color: #333333;
}

/* first submenu hover and focus background and font colours */
header nav ul.menu > li > .mega-menu > .list-item > ul > li > a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu-div a:focus,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:hover,
.menu-main-menu-container > #menu-main-menu > li > .sub-menu a:focus {
  background-color: #ff90b7;
  color: #ebffff;
}

/* maintain submenu background colour on hover when another menu item is selected */
.menu-main-menu-container
  > #menu-main-menu
  > li
  > .sub-menu
  > li.menu-item-has-children:hover {
  background-color: #ff90b7;
}

/* maintain submenu font colour on hover when another menu item is selected */
.menu-main-menu-container
  > #menu-main-menu
  > li
  > .sub-menu
  > li.menu-item-has-children:hover
  > a:link {
  color: #ebffff;
}

/* second submenu background and font colours */
.menu-main-menu-container > #menu-main-menu > li li > .sub-menu a {
  background-color: #2b9f84;
  color: #ebffff;
}

/* third submenu background and font colours */
.menu-main-menu-container > #menu-main-menu > li li li > .sub-menu a {
  background-color: #ff0000;
  color: #ebffff;
}

/* fourth submenu background and font colours */
.menu-main-menu-container > #menu-main-menu > li li li li > .sub-menu a {
  background-color: #ebffff;
  color: #333333;
}

/* mega menu background colour */
header nav ul.menu > li.menu-item-has-children > .sub-menu-div {
  background-color: rgba(0, 251, 255, 0.9);
}

/* title within a mega menu font colour */
header nav ul.menu > li > .mega-menu.mega-menu-column-4 > .list-item .title {
  color: #ff0000; /* 4.56 */
}

/***** Carets *****/

/* -- first level -- */

/* down arrow stroke colour */
.menu-item-has-children i.angle-down:before {
  border-top: 7px solid #ebffff;
}

/* down arrow stroke colour on hover */
.menu-item-has-children:hover i.angle-down:before {
  border-top: 7px solid #ebffff;
}

/* down arrow fill colour */
.menu-item-has-children i.angle-down:after {
  border-top: 4px solid #ff0000;
}

/* down arrow fill colour on hover */
.menu-item-has-children:hover i.angle-down:after {
  border-top: 4px solid #ff90b7;
}

/* down arrow fill colour on a:focus */
.menu-item-has-children a:focus i.angle-down:after {
  border-top: 4px solid #ff90b7;
}

/*---- ---- */

/* up arrow stroke colour */
.menu-item-has-children i.angle-up:before {
  border-bottom: 7px solid #ebffff;
}

/* up arrow stroke colour on hover */
.menu-item-has-children:hover i.angle-up:before {
  border-bottom: 7px solid #ebffff;
}

/* up arrow fill colour */
.menu-item-has-children i.angle-up:after {
  border-bottom: 4px solid #ff0000;
}

/* up arrow fill colour on hover */
.menu-item-has-children:hover i.angle-up:after {
  border-bottom: 4px solid #ff90b7;
}

/* up arrow fill colour on a:focus */
.menu-item-has-children a:focus i.angle-up:after {
  border-bottom: 4px solid #ff90b7;
}

/* -- second level -- */

/* down arrow stroke colour */
.menu-item-has-children .menu-item-has-children i.angle-down:before {
  border-top: 7px solid #333333;
}

/* down arrow stroke colour on hover */
.menu-item-has-children .menu-item-has-children:hover i.angle-down:before {
  border-top: 7px solid #ebffff;
}

/* down arrow stroke colour on a:focus */
.menu-item-has-children .menu-item-has-children a:focus i.angle-down:before {
  border-top: 7px solid #ebffff;
}

/* down arrow fill colour */
.menu-item-has-children .menu-item-has-children i.angle-down:after {
  border-top: 4px solid rgba(0, 251, 255, 0.9);
}

/* down arrow fill colour on hover */
.menu-item-has-children .menu-item-has-children:hover i.angle-down:after {
  border-top: 4px solid #ff90b7;
}

/* down arrow fill colour on a:hover */
.menu-item-has-children .menu-item-has-children a:hover i.angle-down:after {
  border-top: 4px solid #ff90b7;
}

/* down arrow fill colour on focus */
.menu-item-has-children .menu-item-has-children:focus i.angle-down:after {
  border-top: 4px solid #ff90b7;
}

/* down arrow fill colour on a:focus */
.menu-item-has-children .menu-item-has-children a:focus i.angle-down:after {
  border-top: 4px solid #ff90b7;
}

/*---- ---- */

/* up arrow stroke colour */
.menu-item-has-children .menu-item-has-children i.angle-up:before {
  border-bottom: 7px solid #333333;
}

/* up arrow stroke colour on hover */
.menu-item-has-children .menu-item-has-children:hover i.angle-up:before {
  border-bottom: 7px solid #ebffff;
}

/* up arrow stroke colour on a:focus */
.menu-item-has-children .menu-item-has-children a:focus i.angle-up:before {
  border-bottom: 7px solid #ebffff;
}

/* up arrow fill colour */
.menu-item-has-children .menu-item-has-children i.angle-up:after {
  border-bottom: 4px solid rgba(0, 251, 255, 0.9);
}

/* up arrow fill colour on hover */
.menu-item-has-children .menu-item-has-children:hover i.angle-up:after {
  border-bottom: 4px solid #ff90b7;
}

/* up arrow fill colour on a:hover */
.menu-item-has-children .menu-item-has-children a:hover i.angle-up:after {
  border-bottom: 4px solid #ff90b7;
}

/* up arrow fill colour on focus */
.menu-item-has-children .menu-item-has-children:focus i.angle-up:after {
  border-bottom: 4px solid #ff90b7;
}

/* up arrow fill colour on a:focus */
.menu-item-has-children .menu-item-has-children a:focus i.angle-up:after {
  border-bottom: 4px solid #ff90b7;
}

/* maintain background colour on the parent on hover */
.menu-main-menu-container
  > #menu-main-menu
  > li
  > .sub-menu
  > li.menu-item-has-children:hover
  i.angle-up:after {
  border-bottom: 4px solid #ff90b7;
}

/* -- third level -- */

/* down arrow stroke colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-down:before {
  border-top: 7px solid #ebffff;
}

/* down arrow stroke colour hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-down:before {
  border-top: 7px solid #ebffff;
}

/* down arrow stroke colour focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-down:before {
  border-top: 7px solid #ebffff;
}

/* down arrow fill colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-down:after {
  border-top: 4px solid #2b9f84;
}

/* down arrow hover fill colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-down:after {
  border-top: 4px solid #ff90b7;
}

/* down arrow fill colour a:hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:hover
  i.angle-down:after {
  border-top: 4px solid #ff90b7;
}

/* down arrow focus fill colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-down:after {
  border-top: 4px solid #ff90b7;
}

/* down arrow fill colour a:focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:focus
  i.angle-down:after {
  border-top: 4px solid #ff90b7;
}

/*--- --- */

/* up arrow stroke colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-up:before {
  border-bottom: 7px solid #ebffff;
}

/* up arrow stroke colour on hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-up:before {
  border-bottom: 7px solid #ebffff;
}

/* up arrow stroke colour on focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-up:before {
  border-bottom: 7px solid #ebffff;
}

/* up arrow fill colour */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  i.angle-up:after {
  border-bottom: 4px solid #2b9f84;
}

/* up arrow fill colour :hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:hover
  i.angle-up:after {
  border-bottom: 4px solid #ff90b7;
}

/* up arrow fill colour a:hover */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:hover
  i.angle-up:after {
  border-bottom: 4px solid #ff90b7;
}

/* up arrow fill colour :focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children:focus
  i.angle-up:after {
  border-bottom: 4px solid #ff90b7;
}

/* up arrow fill colour a:focus */
.menu-item-has-children
  .menu-item-has-children
  .menu-item-has-children
  a:focus
  i.angle-up:after {
  border-bottom: 4px solid #ff90b7;
}
