:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #333;

  --headingOneTextColour: #333;

  --topMenuBgColour: #0a556b;
  --topMenuTextColour: #daf1f4;

  --firstSubLevelBgColour: rgba(0, 221, 255, 0.9);
  --firstSubLevelTextColour: #333;

  --secondSubLevelBgColour: #a6ebff;
  --secondSubLevelTextColour: #333;

  --thirdSubLevelBgColour: #0a556b;
  --thirdSubLevelTextColour: #daf1f4;

  --fourthSubLevelBgColour: #00ddff;
  --fourthSubLevelTextColour: #0a556b;

  --bgColourHoverActiveFocus: #218ab2;
  --textColourHoverActiveFocus: #000;

  --bgColourHoverActiveFocusAlt: #218ab2;
  --textColourHoverActiveFocusAlt: #000;

  --bottomBorderColour: #0a556b;
}
