:root {
  --defaultBgColour: #fff;
  --defaultTextColour: #333;

  --skipNavBgColour: #218ab2;
  --skipNavTextColour: #000;
  --skipNavBorderColour: #000;

  --topMenuBgColour: #0a556b;
  --topMenuTextColour: #daf1f4;
  --topMenuHoverTextColour: #000;

  --menuBorderColour: #000;
  --menuHoverBgColour: #218ab2;
  --menuTransparentColour: rgba(33, 137, 178, 0.5);

  --subMenuBgColour: var(--menuHoverBgColour);
  --subMenuTextColour: var(--topMenuHoverTextColour);

  --arrowFillColour: var(--menuHoverBgColour);
  --arrowStrokeColour: var(--topMenuHoverTextColour);

  --bodyBackgroundColour: #fff;

  --headingOneTextColour: #333;
  --headingTwoTextColour: #0a556b;

  --bottomBorderColour: var(--menuBorderColour);
}
